
body{
    background-color:hsl(0, 0%, 0%);
    color:hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size:14px;
}
.container{
    background-color: hsl(0, 0%, 12%);
    text-align:center;
    align-content:center;
    width:min(87%, 384px);
    margin-inline:auto;
    border-radius:12px;
}
.profile-image{
    border-radius:50%;
    inline-size:88px;
    block-size:88px;
    margin-block-start:20px;
}

.profile-name{
    font-size:1.47rem;
    font-weight:700;
    margin-block-start:28px;
    margin-block-end:-9px;
}

.profile-location{
    font-size:0.97rem;
    color:hsl(75, 94%, 57%);
}
.profile-bio{
    padding-block-start:13px;
    padding-block-end:23px;
    font-weight:400;
    font-size:0.93rem;

}

h3{
    font-size:0.92rem;
    line-height:44px;
    border:1px hsl(0, 0%, 20%) solid;
    margin-inline:40px;
    border-radius:8px;
    background-color:hsl(0, 0%, 20%)
}

h3 a{
    display:block;
    width:100%;
    height:100%;
    color:inherit;
    text-decoration:none;

}

h3:hover{
    background-color:hsl(75, 94%, 57%);
    color:hsl(0, 0%, 20%);
}

.GitHub{
    margin-block-start:-11px;

}

.Instagram{
    margin-block-end:40px;
}